In [1]:
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

# Verificar se as bibliotecas foram importadas corretamente
print("Pandas version:", pd.__version__)
print("Seaborn version:", sns.__version__)
print("Matplotlib version:", matplotlib.__version__)

Pandas version: 2.2.1
Seaborn version: 0.13.2
Matplotlib version: 3.8.3

O código importa as bibliotecas `pandas`, `seaborn`, `matplotlib` e `matplotlib.pyplot` e verifica se elas foram importadas corretamente. 

- `pandas` é uma biblioteca de análise de dados que fornece estruturas de dados e ferramentas para manipulação e análise de dados.
- `seaborn` é uma biblioteca de visualização de dados baseada no `matplotlib` que fornece uma interface de alto nível para criar gráficos estatísticos atraentes e informativos.
- `matplotlib` é uma biblioteca de plotagem em Python que produz gráficos de alta qualidade em uma variedade de formatos e ambientes.
- `matplotlib.pyplot` é uma coleção de funções e estilos que fazem com que o `matplotlib` funcione como o MATLAB.

O código imprime as versões das bibliotecas importadas usando as variáveis `pd.__version__`, `sns.__version__` e `matplotlib.__version__`. Isso é útil para verificar se as versões das bibliotecas são compatíveis com o código que será executado.

In [5]:
pd.read_csv("./ml-latest-small/ratings.csv")

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [8]:
notas = pd.read_csv("./ml-latest-small/ratings.csv")
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
notas.shape
# linhas e colunas

(100836, 4)

In [13]:
notas.columns = ["usuario_ID", "filme_ID", "nota", "momento"] #alterando nome das colunas para português
notas.head() #pedindo para imprimir a cabeça do csv (5 primeiras linhas)

   usuario_ID  filme_ID  nota    momento
0           1         1   4.0  964982703
1           1         3   4.0  964981247
2           1         6   4.0  964982224
3           1        47   5.0  964983815
4           1        50   5.0  964982931

In [14]:
notas['nota'] #pedindo para imprimir a coluna nota

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

In [15]:
notas['nota'].unique() #pedindo para imprimir os valores únicos da coluna nota

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [16]:
notas['nota'].value_counts() #pedindo para imprimir a quantidade de vezes que cada valor único aparece na coluna nota

nota
4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: count, dtype: int64

In [17]:
notas['nota'].mean() #pedindo para imprimir a média dos valores da coluna nota

3.501556983616962